@use "../../scss//index.scss" as *;

.wrapper {
  max-width: 1400px;
  padding-block: 70px;
  padding-inline: 50px;
  margin: auto;

  @include max-width(560px) {
    padding-inline: 15px;
  }
}

.heading {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-6);
  line-height: 1.4;
  color: var(--cl-12);
}

.link {
  display: inline-block;
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-3);
  line-height: 1.6;
  color: var(--cl-20);
  transform: translateX(-6px);
}

.products {
  @extend %products;
}

.productsItem {
  @extend %productsItem;
  width: 250px;
  border-radius: 0;
  box-shadow: none;
  scroll-snap-align: start;
}

.productImg {
  @extend %productImg;
  border-radius: var(--br-main);

  &:hover,
  :focus-visible {
    transform: scale(1);
  }
}
