%products {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-inline: 5px;
  padding-bottom: 5px;

  &::-webkit-scrollbar {
    width: 14px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--cl-5);
    border-radius: var(--br-sec);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
      inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

%productsItem {
  position: relative;
  width: 276px;
  overflow: hidden;
  background-color: var(--cl-4);
  border-radius: var(--br-main);
  box-shadow: 0 0 1px var(--cl-5), 0 0 2px var(--cl-5);
}

%favouritesBox {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-21);
  border-bottom-left-radius: var(--br-main);
  border-bottom-right-radius: var(--br-main);
  cursor: default;
  transform: translateY(-100%);
  transition: transform var(--duration) var(--timing-function);
}

%favouritesBtn {
  background-color: transparent;
  border: none;
}

%favouritesIcon {
  width: 32px;
  height: 32px;
  color: var(--cl-main);
}

%productImgBox {
  overflow: hidden;
  border-top-left-radius: var(--br-main);
  border-top-right-radius: var(--br-main);
}

%productImg {
  object-fit: cover;
  border-top-left-radius: var(--br-main);
  border-top-right-radius: var(--br-main);
  background-color: var(--cl-5);
  transition: transform var(--duration) var(--timing-function);

  &:hover,
  :focus-visible {
    transform: scale(1.2);
  }
}

%productInfoBox {
  padding: 12px;
}

%productName {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-4);
  line-height: 1.5;
  color: var(--cl-main);
  margin-bottom: 5px;
}

%productPrice {
  color: var(--cl-main);
}
