@use "../../scss/index.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 35px;
  padding-block: 120px;
}

.headingBox {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;

  @include max-width(885px) {
    flex-wrap: wrap;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-6);
  line-height: var(--lh-sec);
  color: var(--cl-12);
  margin-bottom: 8px;
}

.text {
  max-width: 500px;
  color: var(--cl-11);
  margin-bottom: 46px;
}

.link {
  @extend %transparentBtn;
}

.imagesBox {
  display: grid;
  grid-template-columns: repeat(3, 368px);
  justify-content: center;
  gap: 35px;

  @include max-width(1288px) {
    grid-template-columns: repeat(2, 364px);
  }

  @include max-width(876px) {
    grid-template-columns: repeat(2, 310px);
  }

  @include max-width(768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img {
  object-fit: cover;
  border-radius: var(--br-main);
  @include bg-loading(var(--cl-5), #ebedf0);

  @include max-width(768px) {
    width: 100%;
  }
}

.span {
  grid-column: span 3;
  height: 662px;

  @include max-width(1288px) {
    grid-column: initial;
    width: 368px;
    height: 460px;
  }

  @include max-width(768px) {
    width: 100%;
  }
}
