@use "../../scss/index.scss" as *;

.background {
  background-color: var(--cl-7);
  background-image: url("/assets/svgs/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 1400px;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-inline: 15px;
  margin: auto;

  @include max-width(416px) {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-main);
  font-size: var(--fs-8);
  line-height: 1.3;
  color: var(--cl-sec);

  @include max-width(416px) {
    font-size: var(--fs-7);
  }
}

.searcherBox {
  width: 760px;
  position: relative;

  &:has(:hover, :focus-visible) {
    .icon {
      color: var(--cl-11);
    }
  }

  @include max-width(806px) {
    width: 100%;
  }
}

.searcher {
  width: 100%;
  font-size: var(--fs-3);
  line-height: 1.6;
  background-color: var(--cl-4);
  border: 1px solid var(--cl-5);
  border-radius: var(--br-sec);
  padding-block: 11px;
  padding-left: 50px;
  padding-right: 20px;
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-11);
  }

  @include max-width(416px) {
    padding-block: 8px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 16px;
  transition: color var(--duration) var(--timing-function);

  @include max-width(416px) {
    top: 13px;
  }
}
