@use "../../scss//index.scss" as *;

.wrapper {
  padding-bottom: 120px;
}

.headlineBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-inline: 5px;
  margin-bottom: 25px;
}

.headline {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-6);
  line-height: var(--lh-sec);
  color: var(--cl-12);

  @include max-width(852px) {
    font-size: var(--fs-5);
  }

  @include max-width(350px) {
    font-size: var(--fs-4);
  }
}

.link {
  color: var(--cl-20);

  @include max-width(852px) {
    font-size: var(--fs-sec);
  }

  @include max-width(350px) {
    font-size: var(--fs-9);
  }
}

.controller {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  width: 50px;
  height: 50px;
  z-index: 1;
  place-items: center;
  border: none;
  border-radius: var(--br-5);
  background-color: rgba(33 33 33 / 0.3);
  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    background-color: rgba(33 33 33 / 0.7);
  }

  &:active {
    background-color: rgba(33 33 33 / 0.9);
  }

  &.prev {
    left: 15px;
  }

  &.next {
    right: 15px;
  }
}

.arrow {
  width: 26px;
  height: 26px;
  color: var(--cl-4);
}

.products {
  @extend %products;
}

.productsItem {
  @extend %productsItem;
  scroll-snap-align: start;

  &:hover,
  &:focus-visible {
    .favouritesBox {
      transform: translateY(0);
    }
  }
}

.favouritesBox {
  @extend %favouritesBox;
}

.favouritesBtn {
  @extend %favouritesBtn;
}

.favouritesIcon {
  @extend %favouritesIcon;
}

.productImgBox {
  @extend %productImgBox;
}

.productImg {
  @extend %productImg;
}

.productInfoBox {
  @extend %productInfoBox;
}

.productName {
  @extend %productName;
}

.productPrice {
  @extend %productPrice;
}
