@use "../../scss/index.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-7);
  line-height: var(--lh-sec);
  color: var(--cl-12);
  margin-bottom: 12px;

  @include max-width(500px) {
    font-size: var(--fs-6);
  }

  @include max-width(360px) {
    font-size: 35px;
  }
}

.designers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.designer {
  position: relative;
}

.designerImg {
  object-fit: cover;
  aspect-ratio: 2 / 2.7;
  background-color: var(--cl-5);
  border-radius: var(--br-main);
}

.nameBox {
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: 0;
  display: grid;
  place-items: center;
  background: #171a1f66;
  border-bottom-left-radius: var(--br-main);
  border-bottom-right-radius: var(--br-main);
}

.name {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-5);

  color: var(--cl-3);
}
