@use "../../scss/index.scss" as *;

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: #171a1f66;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: opacity var(--duration) var(--timing-function);

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }
}

.section {
  background-color: var(--cl-4);
  border-radius: var(--br-main);
  transform: translateY(-100%);
  padding: 30px;
  transition: transform var(--duration) var(--timing-function);

  &.isVisible {
    transform: translateY(0);
  }
}

.headlineBox {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 35px;
}

.title {
  font-family: var(--ff-sec);
  font-size: clamp(1.3125rem, 0.5208rem + 3.9583vw, 2.5rem);
  font-weight: var(--fw-sec);
  line-height: var(--lh-sec);
  color: var(--cl-12);
}

.closeBtn {
  background-color: var(--cl-4);
  border: none;
}

.closeIcon {
  color: var(--cl-main);
  width: 26px;
  height: 26px;
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-3);
  }
}

.productName {
  font-size: clamp(0.875rem, 0.7083rem + 0.8333vw, 1.125rem);
  font-weight: var(--fw-sec);
}

.productInfo {
  font-size: clamp(0.75rem, 0.5833rem + 0.8333vw, 1rem);
  color: var(--cl-20);
}

.infoBtnBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.infoBtn {
  @extend %transparentBtn;
  width: 100%;
}

.basketBtn {
  @extend %greenBtn;
}
