@use "../../scss/index.scss" as *;

.wrapper {
  padding-top: 120px;
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 36px;
}

.title {
  font-family: var(--ff-sec);
  font-size: var(--fs-6);
  line-height: var(--lh-sec);
  color: var(--cl-12);
}

.text {
  max-width: 530px;
  font-size: var(--fs-3);
  color: var(--cl-11);

  @include max-width(507px) {
    font-size: var(--fs-main);
  }
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--br-main);
  display: grid;
  place-items: center;
  object-fit: cover;
}
