@use "../../scss/index.scss" as *;

.paymentBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 12px;
}

.basketBtn {
  @extend %transparentBtn;
  width: 272px;
  gap: 10px;
}

.buyBtn {
  @extend %greenBtn;
  width: 272px;
}

.icon {
  width: 24px;
  height: 24px;
}
