@use "../../scss/index.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  max-width: 1400px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-inline: 15px;
  margin: auto;
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-6);
  line-height: 1.4;
  color: var(--cl-12);

  @include min-width(1205px) {
    margin-bottom: 46px;
  }
}

.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.collectionsItem {
  width: 360px;
  aspect-ratio: 1;
  position: relative;
  background-color: var(--cl-5);
  border-radius: var(--br-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include max-width(390px) {
    width: 290px;
  }

  &.first {
    background-image: url("https://www.dropbox.com/scl/fi/i65uu1ld4zs8r4kmk6cwg/our-collections-1.jpg?rlkey=upeg367ef24fgc4o299ap3nyx&dl=1");
  }

  &.sec {
    background-image: url("https://www.dropbox.com/scl/fi/2rcw1p2f7swz8kawv9pov/our-collections-2.jpg?rlkey=bvno7qu65268893u3qmdze7yi&dl=1");

    @include min-width(1205px) {
      transform: translateY(-35px);
    }
  }

  &.third {
    background-image: url("https://www.dropbox.com/scl/fi/hgyao9vk7uws96a82a3ex/our-collections-3.jpg?rlkey=dhqb8i2owuzsvzx8s7tned92t&dl=1");
  }

  &.fourth {
    background-image: url("https://www.dropbox.com/scl/fi/rc55vxbez6e4cj5vz4jti/our-collections-4.jpg?rlkey=zqoc1kut6jmcax1pt9xok63ku&dl=1");
  }

  &.fifth {
    background-image: url("https://www.dropbox.com/scl/fi/9o793vby1g7via2ylbaqm/our-collections-5.jpg?rlkey=wh5mc2zxievzm3xpomfp8h9s6&dl=1");

    @include min-width(1205px) {
      transform: translateY(-35px);
    }
  }

  &.sixth {
    background-image: url("https://www.dropbox.com/scl/fi/jlvwjd51sy28dympogyx2/our-collections-6.jpg?rlkey=lqedbb36fz1m7b909s9zqvyzl&dl=1");
  }
}

.collectionsLink {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.collectionsName {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-5);
  line-height: 1.5;
  color: var(--cl-4);
  padding-bottom: 25px;
}

.shopBtn {
  @extend %btn;
}
