@use "../../scss//index.scss" as *;

.descriptionBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--cl-13);
  border-radius: var(--br-main);
  padding-block: 50px;
  padding-inline: 70px;

  @include max-width(560px) {
    text-align: center;
    padding-inline: 20px;
  }
}

.text {
  color: var(--cl-11);
  margin-bottom: 24px;
}

.heading {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-6);
  line-height: var(--lh-sec);
  color: var(--cl-12);

  @include max-width(852px) {
    font-size: var(--fs-5);
  }
}

.description,
.featuresItem {
  font-size: var(--fs-3);
  color: var(--cl-11);
}

.title {
  font-weight: var(--fw-sec);
  font-size: var(--fs-3);
  color: var(--cl-11);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: disc inside;
}
