@use "../../scss/index.scss" as *;

.header {
  background-color: var(--cl-7);
}

div.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-block: 15px;
}

.logoBox {
  @include max-width(800px) {
    flex: 1;
  }
}

.logo {
  font-family: var(--ff-sec);
  font-size: var(--fs-5);
  line-height: var(--lh-sec);
  color: var(--cl-sec);
}

.nav {
  display: flex;
  gap: 40px;
  padding-left: 13px;
}

.navItem {
  color: var(--cl-4);
  font-size: var(--fs-sec);
  font-weight: var(--fw-main);
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-3);
  }
}

.isActive {
  color: var(--cl-3);
  position: relative;

  &::before {
    content: "";
    width: 89px;
    height: 4px;
    background-color: var(--cl-3);
    border-radius: var(--br-main);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.iconsBox {
  display: flex;
  gap: 24px;
}

.btn {
  position: relative;
  background-color: transparent;
  border: none;
}

.icon {
  color: var(--cl-4);
  width: 20px;
  height: 20px;
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-3);
  }
}

.user {
  transform: translateY(1px);
}

.isUserActive {
  & .user {
    color: var(--cl-3);
  }
}

.quantityInfo {
  display: grid;
  place-items: center;
  width: 18px;
  height: 18px;
  border-radius: var(--br-sec);
  position: absolute;
  bottom: -10px;
  left: 1px;
  transform: translateX(-50%);
  font-size: calc(var(--fs-9) - 1px);
  background-color: var(--cl-16);
  color: var(--cl-4);
}
