@use "../../scss/index.scss" as *;

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-block: 50px;
}

.summary {
  height: fit-content;
  border-radius: var(--br-4);
  box-shadow: 0 0 1px var(--cl-main), 0 0 2px var(--cl-main);
  padding: 24px;
  padding-top: 18px;

  @include max-width(664px) {
    max-width: 328px;
  }
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: var(--fs-4);
  line-height: 1.5;
  margin-bottom: 10px;
}

.basketSummary {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  @include max-width(664px) {
    max-height: 437px;
    display: grid;
    grid-template-columns: 1fr;
  }

  &::-webkit-scrollbar {
    width: 14px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--cl-5);
    border-radius: var(--br-sec);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
      inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.basketSummaryItem {
  display: flex;
  align-items: center;
  gap: 30px;

  @include max-width(664px) {
    flex-direction: column;
  }
}

.basketSummaryImg {
  min-width: 120px;
  object-fit: cover;
  border-radius: var(--br-4);
  background-color: var(--cl-5);

  @include max-width(664px) {
    width: 240px;
    height: 240px;
  }
}

.basketSummaryInfoBox {
  width: 210px;

  @include max-width(664px) {
    width: auto;
  }
}

.productName {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
}

.productInfo {
  font-size: var(--fs-9);
  color: var(--cl-20);
}

.productPrice {
  width: 180px;
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
  text-align: center;
}

.productPriceMedium {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
}

.iconBox {
  width: 100px;
  display: flex;
  justify-content: center;
  gap: 5px;

  @include max-width(664px) {
    width: auto;
  }
}

.editLink {
  background-color: var(--cl-4);
  border-radius: var(--br-4);
  transition: background-color var(--duration) var(--timing-function);
  padding: 5px;

  &:hover,
  &:focus-visible {
    background-color: var(--cl-21);

    .editPen {
      color: var(--cl-sec);
    }
  }

  &:active {
    background-color: var(--cl-5);
  }
}

.editPen {
  color: var(--cl-10);
  width: 24px;
  height: 24px;
  transition: color var(--duration) var(--timing-function);
}

.binBtn {
  background-color: transparent;
  border: none;
  cursor: default;
  padding: 5px;
}

.binIcon {
  width: 24px;
  height: 24px;
  color: var(--cl-20);
  cursor: pointer;
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-sec);
  }
}
