@use "../../scss/index.scss" as *;

.wrapper {
  display: grid;
  justify-content: center;
  gap: 45px;
  max-width: 1400px;
  padding-top: 60px;
  padding-inline: 15px;
  padding-bottom: 100px;
  margin: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @include max-width(1215px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include max-width(915px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include max-width(615px) {
    grid-template-columns: 1fr;
  }
}

.productsItem {
  @extend %productsItem;
}

.bigProductsItem {
  width: 576px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: var(--cl-4);
  border-radius: var(--br-main);
  box-shadow: 0 0 1px var(--cl-5), 0 0 2px var(--cl-5);

  @include max-width(1215px) {
    width: 276px;
    grid-column: auto;
    grid-row: auto;
  }
}

.productImgBox {
  @extend %productImgBox;
}

.productImg {
  @extend %productImg;

  @include max-width(1215px) {
    width: 276px;
    height: 320px;
  }
}

.productInfoBox {
  @extend %productInfoBox;
}

.productName {
  @extend %productName;
}

.productPrice {
  @extend %productPrice;
}
