@use "../../scss//index.scss" as *;

.productNav {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 25px;

  @include max-width(979px) {
    gap: 10px;
    padding-top: 30px;
  }
}

.productNavLink {
  font-family: var(--ff-sec);
  font-size: var(--fs-sec);
  color: var(--cl-12);
  text-transform: capitalize;
}

.icon {
  color: var(--cl-18);
}
