@use "./scss/variables.scss" as *;
@import "../node_modules/modern-normalize/modern-normalize.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Manrope:wght@400;600&display=swap");

#root {
  display: contents;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-main), "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-main);
  font-weight: var(--fw-main);
  color: var(--cl-main);
  background-color: var(--cl-4);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style-type: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
