@mixin max-width($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

@mixin min-width($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin min-height($bp) {
  @media screen and (min-height: $bp) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin bg-loading($color, $line) {
  background-image: linear-gradient(to right, $color 0%, $line 10%, $color 20%);
  background-size: 200%;
  animation: bg-skeleton-loading 2s linear infinite;
}
