@mixin max-width($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

@mixin min-width($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin scale-mixin() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    35% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}
