:root {
  --cl-main: #171a1f;
  --cl-sec: #f5d38e;
  --cl-3: #f2c66d;
  --cl-4: #fff;
  --cl-5: #dee1e6;
  --cl-6: #bcc1ca;
  --cl-7: #093931;
  --cl-8: #0b463d;
  --cl-9: #08322c;
  --cl-10: #9095a0;
  --cl-11: #323842;
  --cl-12: #0d554a;
  --cl-13: #fafafb;

  --fs-main: 16px;
  --fs-sec: 14px;
  --fs-3: 18px;
  --fs-4: 24px;
  --fs-5: 30px;
  --fs-6: 40px;
  --fs-7: 72px;

  --ff-main: "Manrope";
  --ff-sec: "Cormorant Garamond";

  --fw-main: 400;
  --fw-sec: 600;

  --br-main: 8px;
  --br-sec: 26px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
