@use "../../scss/mixins.scss" as *;

.advantages {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px;
  padding-top: 70px;
  max-width: 1400px;
  margin: auto;

  @include max-width(950px) {
    flex-wrap: wrap;
    gap: 50px;
    padding-inline: 15px;
  }
}

.advantagesItem {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.advantagesIcon {
  width: 62px;
  height: 62px;
  color: var(--cl-3);
}

.advantagesTitle {
  font-family: var(--ff-sec);
  font-size: var(--fs-3);
  line-height: 1.6;
}

.advantagesText {
  color: var(--cl-10);
  line-height: 1.6;
  text-align: center;
}
