@use "../../scss/mixins.scss" as *;

.advantages {
  display: flex;
  justify-content: center;
  gap: 100px;

  @include max-width(950px) {
    flex-wrap: wrap;
    gap: 50px;
  }
}

.advantagesItem {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.advantagesIcon {
  width: 62px;
  height: 62px;
  color: var(--cl-3);
}

.advantagesTitle {
  font-family: var(--ff-sec);
  font-size: var(--fs-3);
}

.advantagesText {
  color: var(--cl-10);
  text-align: center;
}
