@use "../../scss/index.scss" as *;

.wrapper {
  min-height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentDetailsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.title {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: clamp(2.25rem, 1.25rem + 5vw, 3.75rem);
  line-height: var(--lh-sec);
  color: var(--cl-12);
  text-align: center;
}

.paymentDetailsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
  color: var(--cl-20);
  padding-left: 4px;
}

.input {
  background-color: var(--cl-4);
  color: var(--cl-11);
  border-top-left-radius: var(--br-main);
  border-top-right-radius: var(--br-main);
  border: none;
  box-shadow: 0 0 0 1px var(--cl-10);
  transition: box-shadow var(--duration) var(--timing-function);
  padding-block: 8px;
  padding-inline: 16px;

  &::placeholder {
    color: var(--cl-6);
  }

  &:hover,
  &:focus-visible {
    box-shadow: 0 0 5px var(--cl-10);
  }
}

.error {
  @extend %error;
  padding-left: 4px;
  margin-top: 0;
}

.submitBtn {
  @extend %greenBtn;
  width: 260px;
}
